
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: #fffbe8;
    display: flex;
    height: 100vh;
    padding: 1rem;
}

.container {
    margin: auto;
    width: 70rem;
    height: auto;
    border-radius: 0.4rem;
    box-shadow: 0 0 40px #9999996c;
    background-color: #fffbe8;
}

.shop-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
}

.shop-head .logo {
    color: #222;
    font-weight: 600;
    font-size: 1.3rem;
    text-decoration: none;
}

.shop-head .logo .logo-highlight {
    color: #ff6600;
}

.shop-head .cart {
    color: #222;
    border: 1px solid #222;
    padding: 0.3rem;
    border-radius: 50%;
    display: flex;
    text-decoration: none;
    transition: all 0.3s;
}

.shop-head .cart:hover {
    color: #ff6600;
    border-color: #ff6600;
}

.shop-items {
    /* background-color: #d39393; */
    width: 100%;
    height: auto;
    padding: 1rem 3rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-between;
}

.shop-items .shop-item:last-child {
    margin-right: auto;
}

.shop-items .shop-item {
    width: 14rem;
    height: 20rem;
    background-color: #fff;
    box-shadow: 0 0 20px #e6e6e6;
    border: 1px solid #d8d8d8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    border-radius: 0.3rem;
}

.shop-item-img {
    width: 8rem;
    display: block;
}

.shop-item-name {
    padding: 1.5rem 0 0.3rem 0;
    font-weight: 600;
}

.shop-item-price {
    padding-bottom: 1rem;
}

.btn-add {
    border: none;
    background-color: #ff6600;
    color: #fffbe8;
    padding: 0.5rem;
    font-size: 0.8rem;
    width: 100%;
    border-radius: 0.3rem;
    cursor: pointer;
    transition: 0.3s;
}

.btn-add:hover {
    background-color: #ff6600d0;
}